<% include ./partials/header %>
<div class="container">
	<div class="row">
		<div class="col col-xl-10 landing-text">
			<p>
				This website is free for anyone to post a dog or a cat that needs home.
				If you are interested in helping me improve the website please go to the
				donate page, every little bit helps to improve the site - more room for
				pictures, transalte to other languages, provide better and more reliable
				hosting etc. If you have any other remarks or suggestions of any kind,
				please feel free to contact me at
				<strong>nikolov.msn@gmail.com</strong>
			</p>
		</div>
	</div>
</div>
<% include ./partials/footer %>
