<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col col-xl-10 landing-text">
            <p>
                Hello, my name is Mario and I am owner and creator of this web site. 
                I am not an organization, or anything like that. My only purpose is to try and
                help the way I can.
                This website is free for anyone to upload a dog, cat or whatever other animal that needs
                help, a home or just a chance of better and happier life. With my wife we have 3 dogs and 3 cats 
                and try to help with whatever ways we are able to other animals. 
                If you are interested in helping me improve the website please go to the donate page and support me
                to improve the site - buy room for more pictures, transalte to other languages, provide better and more reliable hosting etc - and just make this a better place.
                If you have any other remarks or suggestions of any kind, please feel free to contact me at <a href="">nikolov.msn@gmail.com</a>
                
            </p>
        </div>
    </div>
</div>
<% include ./partials/footer %>