<% include ./partials/header %>
<div class="container">
	<div class="row">
		<div class="col-4 landing-text">
			<h3>Help us fill this page with happy dogs and cats</h3>
		</div>
	</div>
</div>
<% include ./partials/footer %>
