<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-4 landing-text">
            <p>Donate via bank transfer</p>
            <p>Tierzentrum Oscar & Lora Bulgaria</p>
            <p>Boiko Grencke</p>
            <p>Bank :CKB AD</p>
            <p>BIC : CECBBGSF</p>
            <p>IBAN BG36 CECB 9790 10E9 5207 00</p>
        </div>
        <div class="col-4 landing-text">
            <p>Donate via paypal</p>
            <p><em>Paypal</em>: boikogrencke@gmail.com</p>
        </div>
    </div>

</div>
<% include ./partials/footer %>