<% include ./partials/header %>
<div class="container">
	<div class="row">
		<div class="col-4 landing-text">
			<p>Donate via bank transfer:</p>
			<p>Adoptiere-bg.eu</p>
			<!-- <p></p> -->
			<p>
				<em><strong>Bank</strong></em
				>: BANK DSK
			</p>
			<p>
				<em><strong>BIC</strong></em
				>: STSABGSF
			</p>
			<p>
				<em><strong>IBAN</strong></em
				>: BG44STSA93000023791943
			</p>
		</div>
		<div class="col-4 landing-text">
			<p>Donate via paypal:</p>
			<p>
				<em><strong>Paypal</strong></em
				>: nikolov.msn@gmail.com
			</p>
		</div>
	</div>
</div>
<% include ./partials/footer %>
